/*---------------------------------------------------------
GENERAL STYLES 
----------------------------------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 0;
}

.flex-stretch {
    align-items: stretch;
}

.in-line-display {
    display: inline-block;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.align-items {
    align-items: center;
}

.white-color {
    color: white;
}

.bottom-p-1rem {
    padding-bottom: 1rem;
}


/*---------------------------------------------------------
SIDEBAR 
----------------------------------------------------------*/

.sidebar {
    width: 200px;
    background-color: #000000;
    color: #717171
}

/****** Sidebar Logo ******/


.sidebar-logo {
    width: 80%;
    padding: 1rem;
}

/****** Sidebar Home/search/library MENU ******/

.sidebar-icon {
    width: 30px;
    vertical-align: middle;
}

.top-menu-btn {
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.top-menu-btn:hover {
    border-left: 4px solid rgb(138, 233, 14);
    color: #D2D2D2
}

/****** Sidebar PLAYLIST MENU ******/

.sidebar-playlist {
    padding: 1rem 1rem;
}
.plus-icon {
    font-size: 30px;
    padding: 0.5rem;
    color: black;
    background-color: #a3a3a3;
    display: inline-block;
}

.sidebar-playlist li {
    color: #717171;
    font-weight: 800;
    font-size: 14px;
    line-height: 2rem;
}

/****** Sidebar BOTTOM ******/

.sidebar-bottom {
    padding: 1rem;
}

.dowload-btn {
    height: 25px;
    vertical-align: middle
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
    overflow: hidden;

}

/*---------------------------------------------------------
BOTTOM PLAYER 
----------------------------------------------------------*/

.player-container {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: #282828;
    color: #717171
}

.album-img {
    width: 60px;
}

.album-title {
    padding: 0 1rem;
}

.album-icons {
    padding: 0 1rem;
}


.middle-buttons {
    width: 40%;
    max-width: 500px;
}

.play-buttons {
    text-align: center;
    color: #FFFFFF;
}

.play-btn {
    padding: 1rem;
}

.play-bar {
    height: 5px;
    border-radius: 5px;
    background-color: #717171;
    margin: 0 1rem;
}

.play-bar-lightgrey {
    width: 200px;
    background-color: #a3a3a3;
}






.volume {
    position: relative;
}
.volume-bar {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: #717171;
}

.volume-bar-progress {
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: #a3a3a3;
    position: absolute;
    top: 0;
}





.top-bar {
    flex-shrink: 0;
    padding: 1rem 0;
    background-color: #090B12;
}

.main-content {
    background-color: #141922;
}

.logo-img {
    width: 100px;
}

